  <div class= "container">

      <div class= "row justify-content-center" >
        <div class= "col-8 mt-4">
           <% @articles.each do |item| %>
          <div class="card text-center shadow mb-4 bg-white rounded ">
            <div class="card-header font-italic">
               <% if item.user%>
               <%= link_to item.user.username, user_path(item.user)%>
               <% end%>
            </div>
            <div class="card-body">
                  <h5 class="card-title"><%= link_to item.title, articles_path(item), class: "text-success" %></h5>
                  <p class="card-text"> <td><%= truncate(item.description, length: 100) %></td></p>
                  <%# <a href="#" class="btn btn-outline-success">View</a> %>
                 <%= link_to 'View', article_path(item), class: "btn btn-outline-success" %>
                 <%= link_to 'Edit', edit_article_path(item), class:"btn btn-outline-info" %>
                 <%= link_to 'Delete', article_path(item),class:"btn btn-outline-danger" , method: :delete, remote: true, data: { turbo_method: :delete, turbo_frame: 'item_form', confirm: 'Are you sure you want to delete this article?' } %>

              
            </div>
            <div class="card-footer text-muted">
              <small> Created <%= time_ago_in_words(item.created_at)%> ago, Edited <%= time_ago_in_words(item.updated_at)%> ago</small>

            </div>
          </div>
         <%end%>
        </div>
     </div>
  </div>