<h1 class="text-center"> Showing Article Details </h1>

<div class= "container  ">
    <div class= "row justify-content-center">
        <div col-md-8>
            <div class="card text-center">
                <div class="card-header">
                    <%=  @article.user.username if @article.user %> 
                    <%= link_to gravarat_for(@article.user), user_path(@article.user) %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @article.title%></h5>
                    <p class="card-text"><%= @article.description%></p>
                    <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-info" %>
                    <%= link_to 'Article List', articles_path, class:"btn btn-outline-success" %> 
                </div>
                <div class="card-footer text-muted">
                    <small> Created <%= time_ago_in_words(@article.created_at)%> ago, Edited <%= time_ago_in_words( @article.updated_at)%> ago</small>

                </div>
            </div>
        </div> 
    </div>   
</div>
