<div class= "container mt-5 " id= "jumbo">
<div class=" p-5 rounded-lg  text-center  ">
  <h1 class="display-4 text-white ">AlphaBlog</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
   <%= link_to 'Show', article_path(item) %>
 <%= link_to 'Edit', edit_article_path(item) %>
   <%= link_to 'Delete', article_path(item), method: :delete, remote: true, data: { turbo_method: :delete, turbo_frame: 'item_form', confirm: 'Are you sure you want to delete this article?' } %>






<h1> This is Home🏠 Page </h1>

<%= link_to 'Article Listing', articles_path %> 
<%= link_to 'About Page', about_path %> 

<footer id= "sticky-footer" class= "py-4 bg-dark text-white ">

<div  class= "container text-center"> 
<small> Copy-Right &copy Jagendra </small>
</div>


</footer>